.head{
    display: flex;
    justify-content: center;
    align-items: center;

}
.head > div{
    height: 1px;
    background-color: rgba(39,39,39, 0.274);
    width: 30vw;
}

.head > p{
    margin: 2vmax;
    font-size: 2.0vmax;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}